
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    background-image: url('./images/page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3498db;
    padding-top: 20px;
    color: #fff;
    transition: width 0.3s ease;
}
/* Style pour le conteneur de la photo de profil */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

/* Style pour la photo de profil */
.profile-image img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #fff; 
}


.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 10px 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu a:hover {
    background-color: #4b9999;
}

.content {
    margin-left: 0; 
    padding: 100px;
    transition: margin-left 0.3s ease; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end; 
}

.content .info-box {
    flex: 0 0 calc(25% - 20px); 
    background-color: #fff;
    border: 2px solid #0074D9;
    padding: 13px;
    margin: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.content .info-box h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.content .info-box p {
    font-size: 18px;
    line-height: 1.5;
}

.content .info-box:hover {
    background-color: #f0f0f0;
}

   


@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
    .content {
        margin-left: 0;
    }
}
